@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    margin: 2%;
    max-width: 15%;
}

h1 {
    display: flex;
    font-family: "Shadows Into Light Two", sans-serif;
    align-items: center;
}

form {
    padding: 4% 7%;
    border-bottom: solid 3px rgb(190, 190, 190);
}

input {
    width: 96%;
}

button {
    width: 4%;
}

.card {
    border: solid 3px rgb(167, 167, 167);
    border-radius: 5px;
    margin: 4% 7%;
}

section img {
    max-width: 86%;
    margin: 7%;
    margin-bottom: 0;
}

.tags ul {
    display: flex;
    gap: 0.5em;
    margin: 0;
    padding-left: 7%;
}

li {
    border: solid 3px gray;
    list-style-type: none;
    margin: 0;
    padding: 3px;
}

h3 {
    padding-left: 7%;
    margin-bottom: 0;
    font-family: "Shadows into Light two", sans-serif;
    color: rgb(0, 101, 184);
}

.stars {
    padding-left: 7%;
    padding-bottom: 7%;
}

.description {
    padding-left: 7%;
}

.hide {
    display: none;
}

.social img {
    width: 15%;
    margin: 0 2%;
}

.social {
    text-align: center;
}

footer a {
    font-size: 0.6em;
}

footer {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: rgb(0, 149, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 149, 255);
}

a:active {
    text-decoration: none;
    color: rgb(0, 149, 255);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 149, 255);
}

button img {
    width: 250%;
}

@media screen and (min-width: 500px) {
    section {
        display: flex;
    }

    section img {
        margin: 2%;
        width: 45%;
    }

    .tags ul {
        margin-top: 3%;
        padding-left: 0;
    }

    .name {
        padding-left: 0;
    }

    .stars {
        padding-left: 0;
    }

    .hide {
        display: flex;
        padding-left: 0;
        margin: 0;
    }

    .social {
        text-align: right;
        float: right;
        width: 30%;
        margin-right: 7%;
    }

    .social img {
        margin: 0;
    }

    footer {
        text-align: left;
        margin-left: 7%;
    }
}