/*Sanchez, Serif, Article, Title*/
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
/* Lora, Serif, Article, Soft*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #e2a360;
  --secondary-color: #132b21;
  --accent1-color: #346450;
  --accent2-color: #ecf9fa;

  /* change the values below to your chosen font(s) */
  --heading-font: "Sanchez", serif;
  --paragraph-font: "Lora", serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--accent1-color);
}

header {
    width: 100%;
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
}

header a {
    width: 40%;
    padding-left: 10px;
}


header img {
    width: 100%;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--nav-link-color);
    padding: 0;
    margin: 0;
}

header ul li {
    text-align: center;
    font-size: 1em;
}

a:link {
    text-decoration: none;
    color: var(--nav-link-color);
}

a:hover {
    text-decoration: none;
    color: var(--nav-hover-link-color);
}

a:visited {
    text-decoration: none;
    color: var(--nav-link-color);
}

a:active {
    text-decoration: none;
    color: var(--nav-link-color);
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

main img {
    width: 80%;
}

article {
    border-bottom: var(--nav-link-color) solid 2px;
    border-top: var(--nav-link-color) solid 2px;
}

main p {
    padding: 10px;
    margin: 0;
}

.setp {
    text-align: center;
}

.books {
    background-image: url(img/darkcolusseum.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.books img {
    width: 80%;
    margin: 20px auto;
    border: 3px solid var(--secondary-color);
}

.displaybooks {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

div h2 {
    padding: 10px;
    margin: 0;
    font-family: var(--heading-font);
    text-align: center;
}

div img {
    float: left;
    width: 40%;
    margin: 10px;
}

div p {
    line-height: 1.4em;
}

footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font-family: var(--paragraph-font);
    text-align: center;
    padding: 2%;
}

footer p {
    margin: 0;
    padding: 0;
}

/*child page 1*/
main div img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.bannerdiv {
    position: relative;
}

.bannerdiv h2 {
    /* padding-top: 100px; */
}

#authorjump {
    border-top: solid 2px var(--nav-link-color);
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: var(--nav-background-color);
}

@media screen and (min-width: 500px) {
main {
    width: 80%;
}

header a img {
    width: 100%;
}

header a {
    width: 10%;
}

header ul li {
    padding: 0 20px;
}

.books {
    background: url(img/darkcolusseum.jpg) center center fixed no-repeat 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#here {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

#here h2 {
    width: 100%;
}

#here img {
    width: 40%;
    margin: 10px;
    float: none;
}

#here p {
    flex: 1;
    min-width: 300px;
    font-size: 1.3em;
}
}