@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --gold: #EFC69B;
    --red: #AF1B3F;
    --dark: #473144;
}

body {
    margin: 0;
}

header {
    border-top: var(--gold) 3px solid;
    border-bottom: var(--gold) 3px solid;
    margin-bottom: 20px;
    width: 100%;
}

h1, h2 {
    font-family: "lora", impact, serif;
    color: var(--red);
}

h1 {
    text-align: center;
    font-size: 1.8em;
}

h2 {
    margin-top: 0;
    padding: 5%;
    font-size: 1.5em;
}

nav {
    display: grid;
    justify-content: end;
    justify-items: end;
    margin-top: -30px;

}

p {
    font-family: helvetica, arial, sans-serif;
    font-size: .9em;
    padding: 2%;
}

ul {
    display: flex;
}

li {
    color: var(--red);
    font-family: helvetica, arial, sans-serif;
    list-style-type: none;
    padding: 0 20px;
}

div {
    margin-bottom: 30px;
}

img {
    margin: 0 auto;
    display: block;
    width: 60%;
}

section {
    height: 100%;
    border: 3px solid var(--gold);
    margin: 0 15px;
    float: right;
}

article {
    display: grid;
    grid-template-columns: 1fr 25%;
    max-width: 100%;
}

a:link {
    text-decoration: none;
    color: var(--red);
}

a:visited {
    color: var(--red);
}

.skiptocontent a {
	position: absolute;
	top: -40px;
	float: left;
	background-color: var(--dark);
    color: var(--gold);
    padding: 10px;
}

.skiptocontent a:focus {
	top: 20px;
}

.left {
    padding-top: 5%;
    text-align: right;
    border-top: var(--gold) solid 3px;
}

@media screen and (min-width: 700px){
main {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.left {
    text-align: right;
    padding: 0 15px;
    border-right: solid 2px var(--gold);
    margin-right: 15px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}
}



.date {
    font-size: 1em;
    margin-top: 0;
}